<div class="section no-pad-bot" >
    <div class="container">
        <br>
        <h1 class="header center blue-text">Employee Manager</h1>
        <div class="row center">
        <h5 class="header col s12 light">A simple application to mange employees built using Angular 2, Typescript and Materialize. </h5>
        </div>
        <br>
    </div>
</div>

   <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">extension</i></h2>
            <h5 class="center">Angular 2</h5>

            <p class="light">Angular 2 is the next version of Google's massively popular MV* framework for building complex applications in the browser (and beyond).</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">fiber_smart_record</i></h2>
            <h5 class="center">Typescript </h5>

            <p class="light">Typescript is a typed superset of JavaScript that compiles to plain JavaScript. Any Browser. Any Host. Any OS. Open source</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">color_lens</i></h2>
            <h5 class="center">Materialize</h5>

            <p class="light">A modern responsive front-end framework based on Material Design. Created and designed by Google.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>