<body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a [routerLink]="['/home']" class="brand-logo right"><i class="large material-icons">recent_actors</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a [routerLink]="['/employees']">Employees</a></li>
            <li><a [routerLink]="['/departments']">Departments</a></li>
            <li><a [routerLink]="['/contracts']">Contracts</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container"> © 2017 Ervis Trupja <a class="grey-text text-lighten-4 right" >Employees Manager</a>
        </div>
      </div>
  </footer>
</body>