<h1>Hello from: {{name}}</h1>
 
<div class="app-content">
    <md-card>
        <button md-button>First</button>
        <button md-button>Second</button>
        <button md-button>Third</button>
        <button md-button>Fourth</button>
    </md-card>
</div>

<!-- Page Content -->
<div class="container">
    <router-outlet></router-outlet>
</div>


<footer class="navbar navbar-fixed-bottom">
    <div class="text-center">
        <h4 class="white">
            <a href="https://github.com/etrupja" target="_blank">Ervis Trupja</a>
            <i>Software Developer</i>
        </h4>
    </div>
</footer>
