<body>
    <header>
      <nav>
        <div class="nav-wrapper blue lighten-2">
          <a [routerLink]="['/home']" class="brand-logo right"><i class="large material-icons">recent_actors</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a [routerLink]="['/employees']">Employees</a></li>
            <li><a [routerLink]="['/departments']">Departments</a></li>
            <li><a [routerLink]="['/contracts']">Contracts</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
        <div>
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="page-footer blue lighten-2">
      <div class="footer-copyright">
        <div class="container"> 
          <a href="https://linkedin.com/in/ervistrupja" class="grey-text text-lighten-4" target="_blank" >© 2017 Ervis Trupja</a>  
          <a href="https://github.com/etrupja/Anguar2CRUD"  target="_blank" class="grey-text text-lighten-4 right" >Employees Manager</a>
        </div>
      </div>
  </footer>
</body>

