<div *ngIf="!dataLoaded" class="preloader-wrapper big active" style="position: fixed; z-index:999; overflow:show; margin:auto; top:0; left:0; bottom:0; right:0;"> 
    <div class="spinner-layer spinner-blue-only centered">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
</div>

<h4 *ngIf="dataLoaded">Contracts </h4>

<div class="row ">
  <div class="input-field inline">
    <input #filterString id="filter" type="text" class="validate" (input)="filterContracts(filterString.value)" />
    <label for="filter">Filter by name </label>
  </div>
</div>

<div *ngIf="dataLoaded" class="row">
        <div class="col s3 m3" *ngFor="let contract of contracts">
        <div class="card darken-1 z-depth-3">
            <div class="card-content black-text">
                <span class="card-title"><b>{{contract.name}} </b> <a (click)="removeContract(contract)"><i class="small material-icons right red-text">delete</i></a></span>
                <p>Contract start date: <b>{{contract.startDate | date }}</b> </p>
                <p>Contract end date: <b>{{contract.endDate | date}}</b> </p>
                <p>Annual gross salary: <b> {{contract.amount | currency:'EUR':true }} </b> </p>
                <p>Employee: <b>{{contract.employee.firstName}} {{contract.employee.lastName}}</b> </p>
            </div>
            <div class="card-action">
                <a class="blue-text" [routerLink]="['/contract-employee-details',contract.employee.id]" ><i class="material-icons left">recent_actors</i>Employee</a>
                <a class="right blue-text" [routerLink]="['/contract-edit',contract.id]" ><i class="material-icons right">mode_edit</i>Edit</a>
            </div>
        </div>
    </div>
</div>


<div class="fixed-action-btn">
    <a [routerLink]="['/contract-new']"  class="btn-floating btn-large blue waves-effect waves-light ">
      <i class="large material-icons">add</i>
    </a>
</div>

<!--This div is used to display toastr message-->
<div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>