
<div class="row container">
    <h5>Edit {{name}} contract</h5>
    <form #form="ngForm" class="col s12" novalidate>
      <div class="row">
        <div class="input-field col s6 m6">
          <input [disabled]="contractEdited" id="name" type="text" class="form-control validate" name="name" [(ngModel)]="name">
          <label class="active" for="name">Contract name</label>
        </div>
      </div>
      <div class="row">

        <div class="input-field col s6 m6">
           <ng-select 
                placeholder="Select one of the employees"
                [ngStyle]="{padding:'4px'}"
                (selected)="selectedEmployee($event)"
                [options]="employees">
            </ng-select>
          <label class="active" for="department">Employee's full name</label>
        </div>
        <div  class="input-field col s6 m6">
          <input [disabled]="contractEdited" id="amount" type="number" class="form-control validate" name="amount" [(ngModel)]="amount"  >
          <label class="active" for="amount">Annual gross amount</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 m6">
          <input [disabled]="contractEdited" id="startDate" type="date" class="form-control validate" name="startDate"  [(ngModel)]="startDate" (input)="parseDate($event.target.value)">
          <label class="active" for="startDate">Contract's Start Date</label>
        </div>
        <div class="input-field col s6 m6">
          <input [disabled]="contractEdited" id="endDate" type="date" class="form-control validate" name="endDate"  [(ngModel)]="endDate" (input)="parseDate($event.target.value)">
          <label class="active" for="endDate">Contract's End Date</label>
        </div>
      </div>


    <div class="row">
            <div class="card-panel teal lighten-2 col s6 m6 l6" *ngIf="contractEdited" >{{info}}</div>
            <button [disabled]="contractEdited" class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateContract()">Save Changes
                <i class="material-icons right">send</i>
            </button>
            <a md-button class="btn right" [routerLink]="['/contracts']"><i class="material-icons left">keyboard_return</i>Back</a>
    </div>
    </form>
  </div>
