<h4 >Departments <h4>

<div class="row">
        <div class="col s12 m4 " *ngFor="let department of departments">
                <div class="card z-depth-3">
                        <div class="card-content">
                                <span class="card-title">
                                        <b>{{department.name}}</b> 
                                        <a href="#deleteDepartment" (click)="setDepartmentData(department.id,department.name)"><i class="small material-icons right red-text">delete</i></a>
                                </span>
                                <p> {{department.description}} </p>
                        </div>
                        <div class="card-action">
                                <a md-button class="btn blue-text" [routerLink]="['/department-edit',department.id]"><i class="material-icons left ">mode_edit</i>Edit</a>
                                <a md-button class="btn blue-text" [routerLink]="['/department-employees',department.id]" ><i class="material-icons left">recent_actors</i>Show Employees</a>
                        </div>
                </div>
        </div>
</div>


<div class="fixed-action-btn">
    <a [routerLink]="['/department-new']"  class="btn-floating btn-large blue waves-effect waves-light ">
      <i class="large material-icons">add</i>
    </a>
</div>


<!-- Delete Department Modal -->
  <div id="deleteDepartment" class="modal" style="border-radius: 25px 25px 0px 0px;">
    <div class="modal-content">
      <h4>Delete {{departmentName}} department?</h4>
      <p>Are you sure that you want to delete this department? </p>
    </div>
    <div class="modal-footer">
      <a (click)="removeDepartment()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
      <a [routerLink]="['/departments']" class=" modal-action modal-close waves-effect waves-red btn-flat ">Decline</a>
    </div>
  </div>
   



  