<h4>Employees<h4>
<a md-button class="btn waves-effect waves-light" [routerLink]="['/home']"><i class="material-icons left">home</i>Home</a>
<a md-button class="btn waves-effect waves-light" [routerLink]="['/departments']"><i class="material-icons left">keyboard_return</i>Back</a>

<table class="striped highlight centered responsive-table">
  <thead>
    <tr>
        <th data-field="firstName">First Name</th>
        <th data-field="lastName">Last Name</th>
        <th data-field="age">Age</th>
        <th data-field="birthDate">Birthdate</th>
        <th data-field="jobPosition">Job Position</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.birthDate | date}}</td>
      <td>{{employee.jobPosition}}</td>
    </tr>
  </tbody>
</table>

<!--This div is used to display toastr message-->
<div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>