<h4>Departments <h4>

<div class="row">
        <div class="col s12 m6" *ngFor="let department of departments">
                <div class="card">
                <div class="card-title text-center">
                        {{department.name}}
                        <a (click)="removeDepartment(department.id)"><i class="small material-icons right red-text">delete</i></a>
                </div>
                <div class="card-content">
                        <p>
                                {{department.description}}
                        </p>
                </div>
                <div class="card-action">
                        <a md-button class="btn" [routerLink]="['/department-edit',department.id]"><i class="material-icons left">mode_edit</i>Edit</a>
                        <a md-button class="btn" [routerLink]="['/department-employees',department.id]" ><i class="material-icons left">recent_actors</i>Show Employees</a>
                </div>
                </div>
        </div>
</div>


<div class="fixed-action-btn">
    <a [routerLink]="['/department-new']"  class="btn-floating btn-large blue">
      <i class="large material-icons">add</i>
    </a>
</div>

   



  