
<div class="row">
    <h5>Edit {{name}} department</h5>
    <form #form="ngForm" class="col s12" novalidate>
      <div class="row">
        <div class="input-field col s12">
          <input [disabled]="departmentEdited" id="name" type="text" class="form-control validate" name="name" [(ngModel)]="name">
          <label class="active" for="name">Department name</label>
        </div>
      </div>

    <div class="row">
        <div class="input-field col s12">
            <input [disabled]="departmentEdited"  id="description" type="text" class="form-control validate" name="description" [(ngModel)]="description">
            <label class="active" for="description">Department description</label>            
        </div>
    </div>
        
    <div class="row">
            <div class="card-panel teal lighten-2 col s6 m6 l6" *ngIf="departmentEdited" >{{info}}</div>
            <button [disabled]="departmentEdited" class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateDepartment()">Save Changes
                <i class="material-icons right">send</i>
            </button>
            <a md-button class="btn right waves-effect waves-light" (click)="goBack()"><i class="material-icons left">keyboard_return</i>Back</a>
    </div>
    </form>
  </div>

   <!--This div is used to display toastr message-->
  <div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>