
<div class="row container">
    <h5>Edit {{firstName}} {{lastName}} employee</h5>
    <form #form="ngForm" class="col s12" novalidate>
      <div class="row">
        <div class="input-field col s6 m6">
          <input [disabled]="employeeEdited" id="firstName" type="text" class="form-control validate" name="firstName" [(ngModel)]="firstName">
          <label class="active" for="firstName">Employee's First Name</label>
        </div>

        <div class="input-field col s6 m6">
          <input [disabled]="employeeEdited" id="lastName" type="text" class="form-control validate" name="lastName" [(ngModel)]="lastName">
          <label class="active" for="lastName">Employee's Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input [disabled]="employeeEdited" id="age" type="number" class="form-control validate" name="age" [(ngModel)]="age"  >
          <label class="active" for="age">Employee's Age</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input [disabled]="employeeEdited" id="birthDate" type="date" class="form-control validate" name="birthDate"  [(ngModel)]="birthDate" (input)="parseDate($event.target.value)">
          <label class="active" for="birthDate">Employee's Birthdate</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <ng-select 
                [disabled]="employeeEdited"
                placeholder="Select one of the positions"
                [ngStyle]="{padding:'4px'}"
                (selected)="selectedJob($event)"
                [options]="jobPositions">
            </ng-select>
          <label class="active" for="jobPosition">Employee's Job Position</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
           <ng-select 
                [disabled]="employeeEdited"
                placeholder="Select one of the departments"
                [ngStyle]="{padding:'4px'}"
                (selected)="selectedDepartment($event)"
                [options]="departments">
            </ng-select>
          <label class="active" for="department">Employee's Department</label>
        </div>
      </div>

    <div class="row">
            <div class="card-panel teal lighten-2 col s6 m6 l6" *ngIf="employeeEdited" >{{info}}</div>

            <button [disabled]="employeeEdited"  class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateEmployee()">Save Changes
                <i class="material-icons right">send</i>
            </button>
            <a md-button class="btn right" [routerLink]="['/employees']"><i class="material-icons left">keyboard_return</i>Back</a>
    </div>
    </form>
  </div>
