<h4>Employees <h4>

<div>
  <div class="input-field inline">
    <input #filterString id="filter" type="text" class="validate" (input)="filterEmployees(filterString.value)">
    <label for="filter" >Filter by first/last name </label>
  </div>
</div>

<table class="striped highlight centered responsive-table z-depth-2" style="font-size: 20px;">
  <thead>
    <tr>
        <th data-field="firstName">First Name</th>
        <th data-field="lastName">Last Name</th>
        <th data-field="birthDate">Birthdate</th>
        <th data-field="jobPosition">Job Position</th>
        <th data-field="departmentName">Department</th>
        <th >Edit</th>
        <th >Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees ">
      <td contenteditable='true'>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.birthDate | date }}</td>
      <td>{{employee.jobPosition}}</td>
      <td>{{employee.department.name}}</td>
      <td><a [routerLink]="['/employee-edit',employee.id]"><i class="material-icons center">mode_edit</i></a></td>
      <td><a (click)="removeEmployee(employee); $event.stopPropagation()"><i class="small material-icons center red-text">delete</i></a></td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn">
    <a [routerLink]="['/employee-new']"   class="btn-floating btn-large blue waves-effect waves-light " >
      <i class="large material-icons">add</i>
    </a>
</div>

<!--This div is used to display toastr message-->
<div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>
