<div *ngIf="!dataLoaded" class="preloader-wrapper big active" style="position: fixed; z-index:999; overflow:show; margin:auto; top:0; left:0; bottom:0; right:0;"> 
    <div class="spinner-layer spinner-blue-only centered">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

<h4 *ngIf="dataLoaded">Employees <h4>

<table *ngIf="dataLoaded" class="striped highlight centered responsive-table z-depth-2" style="font-size: 20px;">
  <thead>
    <tr>
        <th data-field="firstName">First Name</th>
        <th data-field="lastName">Last Name</th>
        <th data-field="age">Age</th>
        <th data-field="birthDate">Birthdate</th>
        <th data-field="jobPosition">Job Position</th>
        <th data-field="departmentName">Department</th>
        <th >Edit</th>
        <th >Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td contenteditable='true'>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.birthDate | date }}</td>
      <td>{{employee.jobPosition}}</td>
      <td>{{employee.department.name}}</td>
      <td><a [routerLink]="['/employee-edit',employee.id]"><i class="material-icons center">mode_edit</i></a></td>
      <td><a href="#deleteEmployee" (click)="setEmployeeData(employee.id,employee.firstName,employee.lastName)"><i class="small material-icons center red-text">delete</i></a></td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn">
    <a [routerLink]="['/employee-new']"   class="btn-floating btn-large blue waves-effect waves-light tooltipped" data-position="top" data-delay="50" >
      <i class="large material-icons">add</i>
    </a>
</div>

  <!-- Delete Employee Modal -->
  <div id="deleteEmployee" class="modal" style="border-radius: 25px 25px 0px 0px;">
    <div class="modal-content">
      <h4>Delete {{firstName}} {{lastName}} employee?</h4>
      <p>Are you sure that you want to delete this employee? </p>
    </div>
    <div class="modal-footer">
      <a (click)="removeEmployee()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      <a [routerLink]="['/employees']" class=" modal-action modal-close waves-effect waves-red btn-flat">Decline</a>
    </div>
  </div>